<div class="containner py-16 bg-gray-100 min-h-screen">
    
    <div class="max-w-lg mx-auto shadow-lg bg-white rounded-md px-6 py-4 overflow-hidden">
        
        <a href="/" class="text-center p-10">
            <h2 class="font-black text-xl">My<span class="font-poppins text-primary">Rh</span></h2>
        </a>
        <h2 class="text-center text-2xl font-semibold text-gray-700 mb-2">Enterprise Registration</h2>

        <form action="" method="post" (ngSubmit)="register()" >
            <div class="grid grid-cols-2 gap-2 mt-2">
                <div class="">
                    <label for="email" class="text-sm text-gray-600 block ">Name</label>
                    <input type="text" name="username" placeholder="name" class="block w-full mt-1 text-sm  border  rounded-md  focus:ring-0" [(ngModel)]="enterpriseRequest.name">
                </div>
                <div class="">
                    <label for="login" class="text-sm text-gray-600 block">Login</label>
                    <input type="text" name="login" placeholder="Login"  class="block w-full mt-1 text-sm text-gray-600  rounded-md focus:ring-0" [(ngModel)]="enterpriseRequest.login">
                    <span class="text-red-400 text-sm "></span>
    
                </div>
            </div>
            <div class="grid grid-cols-2 gap-2 mt-2">
                <div class="">
                    <label for="email" class="text-sm text-gray-600 block ">Email Adress</label>
                    <input type="email" name="username" placeholder="Email Adress" class="block w-full mt-1 text-sm  border  rounded-md  focus:ring-0" [(ngModel)]="enterpriseRequest.email">
                   
                </div>
                <div class="">
                    <label for="password" class="text-sm text-gray-600 block">Password</label>
                    <input type="password" name="password" placeholder="Password" id="email" class="block w-full mt-1 text-sm text-gray-600  rounded-md focus:ring-0" [(ngModel)]="enterpriseRequest.password">
                    <span class="text-red-400 text-sm "></span>
    
                </div>
            </div>
            <div class="grid grid-cols-2 gap-2 mt-2">
                <div class="">
                    <label for="email" class="text-sm text-gray-600 block ">Phone Number</label>
                    <input type="text" name="phone" placeholder="Phone Number" class="block w-full mt-1 text-sm  border  rounded-md  focus:ring-0" [(ngModel)]="enterpriseRequest.phone">
                   
                </div>
                <div class="">
                    <label for="password" class="text-sm text-gray-600 block">Image</label>
                    <input type="file" name="image" placeholder="Password" (change)="onFileSelected($event)" class="block w-full mt-1 text-sm text-gray-600  rounded-md focus:ring-0" accept="image/png">
                </div>
            </div>
            <div class="pt-4">
                <button type="input" class="block w-full text-center bg-primary py-2 text-white  hover:bg-sec   transition duration-300  rounded"> Register</button>
            </div>
        </form>
    </div>
</div>